<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Count Total</title>
  </head>
  <body>
    <div class='container'>
      <h3><em>You entered the word: </em>{{ base_input }} <em> and the string of: </em>{{ string_input }}</h3>
      <br>
      <h3><em>Here's how many times we counted {{ base_input }}:</em></h3>
      <h2>{{ result }}</h2>
      <br>
      <h3><a href='/'><u>Try again</u></a></h3>
    </div>
  </body>
</html>
